<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form action="/piglatinize" method="post">
      <p>Enter your phrase:<input style="  width: 100%;padding: 12px 20px;margin: 8px 0;box-sizing: border-box;" type="text" name="user_phrase" placeholder="Text to pig-latinize goes here"></p>
      <button type="submit" name="Submit">Let's do it!</button>
    </form>
  </body>
</html>
